python-dotenv
scikit-learn
sentence-transformers
pytorch==2.5.1
torch==2.5.1
whisperx
numpy
fastapi
uvicorn
pydantic-settings
python-multipart
spacy
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl
